<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/nav.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <title>Moffat Bay Lodge</title>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/MBL_Logo_NEW.png" alt="Moffat Bay Lodge Logo" width="300" height="45" >
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto ">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/booking">Booking</a>
                <a class="nav-item nav-link" href="/reservations">My Reservations</a>
                <a class="nav-item nav-link" href="/attractions">Attractions</a>
                <a class="nav-item nav-link" href="/aboutus">About Us</a>
                <% if (!user) { %>
                    <a class="nav-item nav-link" href="/register">Register</a>
                    <a class="nav-item nav-link" href="/login">Login</a>
                <% } else { %>
                    <a class="nav-item nav-link" href="/auth/logout">Logout</a>
                <% } %>
            </div>
            <div class="welcome-message">
            <% if (user) { %>
                <div class="navbar-text">
                    Welcome, <%= user.name %>!
                </div>
            </div>
            <% } %>
        </div>
    </div>
</nav>
    
</body>
</html>

