<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acknowledge</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/aboutus.css">
    <link rel="icon" type="/image/x-icon" href="./images/MBL_icon.png">
    <!-- <script src="/js/jquery.js"></script> -->
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h4>If an account with that email exists, we've sent a reset link to it. Thanks</h4>
                <a href="/" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
