<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/aboutus.css">
    <link rel="icon" type="/image/x-icon" href="./images/MBL_icon.png">
    <!-- <script src="/js/jquery.js"></script> -->
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1 class="display-1 fw-bold" >Oops!</h1>
                <p class="fs-3"> <span class="text-danger">Error:</span> <%= error %></p>
                <p class="lead">
                    Something went wrong on our end. Please try again later.
                </p>
                <a href="/" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
