<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/aboutus.css">
    <link rel="icon" type="/image/x-icon" href="./images/MBL_icon.png">
    <!-- <script src="/js/jquery.js"></script> -->
    <script src="/js/bootstrap.min.js"></script>
</head>
<%- include('partials/navbar') %>

<body>
    <div class="container"><br>
        <h3>Reset Your Password</h3>
        <p>Please enter your email address, and we will send you a link to reset your password.</p>
        <form action="/forgot-password" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-primary">Send Reset Link</button>
        </form>
    </div>
</body>
</html>
