<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moffat Chief Team 1 Home Page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" type="/image/x-icon" href="./images/MBL_icon.png">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Moffat Bay Lodge</title>
</head>
<%- include('partials/navbar') %>
<body>
  <div class="container">
    <div class="text">
        <p>Moffat Bay Lodge <br> on Joviedsa <br>Island <br><br>Enjoy your island <br>paradise and<br>exciting adventures <br>at<br>Moffat Bay Lodge</p> 
    </div>
    <div class="banner">
        <img src="/images/BannerImage.png" alt="ocean view of moffat bay" >
    </div>
  </div>
</body>
<%- include('partials/footer')%>
