<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="icon" type="/image/x-icon" href="./images/MBL_icon.png">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<%- include('partials/navbar') %>

<div class="container text-center mt-5">
    <h1>Thank You for Your Booking!</h1>
        <!-- <% if (reservationId) { %>
            <p>Your reservation ID is: <strong><%= reservationId %></strong></p>
        <% } else { %>
            <p>Reservation ID not available.</p>
        <% } %> -->
</div>


</body>
</html>