.card-image-top {
  border-radius: 10px;
  border: 1px solid #ddd;
}

.container, .card-img-top {
  transform-style: preserve-3d;
}


.img-transition {
  transition: transform 0.9s ease-in-out;
}

.flipped {
  transform: rotateY(180deg);
}

.container {
  /* margin: 200px;
  margin-top: 3px;
  margin-bottom: 2px; */
  margin-top: 3px;
  margin-bottom: 20px; /* Adjust this value based on the footer's height */
}

.container img {
  /* width: 100%; */
  object-fit: cover;
  border-radius: 10px;
	box-shadow: 10px 10px 5px grey;
}

.text-attraction {
  background-color: #769FCD;
  box-shadow: 5px 5px 2px grey;
  padding: 5px 5px;
  margin: 20px 200px;
  border-radius: 10px;
  color: white;
  text-align: center;

}
